
target/
dbt_packages/
logs/

# Credentials
credentials/
*.json

.user.yml
profiles.yml
dev.duckdb

.DS_Store
venv/

# Python cache
__pycache__/
*.pyc

models/marts/test.sql
dbt_internal_packages/

notebook/practice.ipynb